<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
	
<!--	<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> -->
<!--	<link rel="stylesheet" href="../../static/fonts/nanumbarungothic/nanumbarungothic.css"> -->
	<link rel="stylesheet" href="http://ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/event/init.css">

<!--
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/event/init.css">
-->
	<!--<link rel="stylesheet" href="../../static/css/renew/event/init.css">-->

	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/event/init.js"></script>
	<!--<script src="../../static/js/event/init.js"></script>-->
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/event/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		<div class="vid-wrap">
			<section class="vid" data-property="{videoURL:'3sUzvwZXH-8',containment:'self', showControls:false, autoPlay:true, loop:false, mute:false, startAt:0, opacity:1, addRaster:true, quality:'default'}">
			</section>
			
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="http://ocean2you.co.kr" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유 리조트">
						<!--
						<span class="mg-l"></span>
						<img class="gcLogo" src="http://img.ocean2you.co.kr/renew/oc2_gcLogo.png" alt="고코투어">
						-->
					</a>
					
					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="nav-bar">						
						<!-- <div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div> -->
						<ul class="nav clr">
							<li class="fst"><a href="http://ocean2you.co.kr/intro/">오션투유소개</a></li>
							<li><a href="http://ocean2you.co.kr/facil/">객실안내</a></li>
							<li><a href="http://ocean2you.co.kr/amenities/">부대시설안내</a></li>
							<li><a href="http://ocean2you.co.kr/event/">이벤트/축제</a></li>
							<li><a href="http://ocean2you.co.kr/?go_scroll=tourist">관광지</a></li>
							<li><a href="http://ocean2you.co.kr/?go_scroll=wayto">오시는길</a></li>
							<li><a href="http://ocean2you.co.kr/group/">단체문의</a></li>
							<li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>
						</ul>
					</nav>
				</div>
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="http://ocean2you.co.kr">HOME</a></h2>
					<ul class="mNav">
						<li class="fst"><a href="http://ocean2you.co.kr/intro/">오션투유소개</a></li>
						<li><a href="http://ocean2you.co.kr/facil/">객실안내</a></li>
						<li><a href="http://ocean2you.co.kr/amenities/">부대시설안내</a></li>
						<li><a href="http://ocean2you.co.kr/event/">이벤트/축제</a></li>
						<li><a href="http://ocean2you.co.kr/?go_scroll=tourist">주변관광지</a></li>
						<li><a href="http://ocean2you.co.kr/?go_scroll=wayto">오시는길</a></li>
						<li><a href="http://ocean2you.co.kr/group/">단체행사문의</a></li>
						<li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>
					</ul>
				</nav>
			</header>


						
		<section class="title">
			
			<div class="container tit-box">
				<h2>오션투유리조트 이벤트 / 축제</h2>
				<div class="mg-"></div>
				<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/event/event_title.png" alt="예약하기"></div>
				<p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>
			</div>
							
		</section>
		</div>
		
		<div class="banner-box">
			<img src="http://img.ocean2you.co.kr/renew/tbn_breakfast.jpg" alt="평일아침조식무료" class="show-sm-gte">
			<img src="http://img.ocean2you.co.kr/renew/tbn_breakfast_m.jpg" alt="평일아침조식무료" width="100%" class="show-xs">
		</div>

		<div class="rBn-box">
			<a href="http://ocean2you.co.kr/view/"><img src="http://img.ocean2you.co.kr/renew/group/group_bn_01.png" alt="일반예약하러가기"></a>
			<!--<a href="javascript:;" onclick="$('#pop-bustour').show()"><img src="http://img.ocean2you.co.kr/renew/banner/right/bn_bus_1.png" alt="속초관광버스투어상품안내"></a>-->
		</div>

		<div class="event-wrap" id="setTop">
			<div class="container" id="evt-box">
				
				<ul class="tab-region">
					<li class="on">
						<a href="javascript:;">고성지역 행사 <span class="d-arr">▼</span></a>
					</li>
					<li>
						<a href="javascript:;">속초지역 행사 <span class="d-arr">▼</span></a>
					</li>
				</ul>
				<script>
					$(function() {	
						$(".cont-region > li.sokcho").hide();
						$(".tab-region > li").on("click", function() {
							var idx = $(this).index();

							$(this).addClass("on").siblings().removeClass();
							$(".cont-region > li").eq(idx).show().siblings().hide();
						});

						$(window).resize(function() {
							var winWd = $(window).width();
							var $slider = $(".event-wrap .bxBox .bxS > li");
							// console.log(winWd);

							if (winWd < 360) {
								$slider.width(320);
							} else if (winWd < 767) {
								$slider.width(360);
							} else {
								$slider.width(1180);
							}

						});
					});
				</script>
				<!-- // .tab-region -->

				<ul class="cont-region">
					<li class="goseong on">
						<!--180621 오션투유연나리기-->
						<section class="facil-1 ocKite">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2019 가족여행과 함께하는 <br class="show-xs">고성 오션투유 삼포해수욕장 연날리기 축제</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2"></li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2019 가족여행과 함께하는 고성 오션투유 삼포해수욕장 연날리기 축제
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">매주 일요일</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">오션투유리조트</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5 lh-01">
									<span class="s-lbl">시간</span>
									<span class="s-txt">12:00 ~ 16:00</span>
								</li>
								<li class="l-td nth-6 lh-02">
									<span class="s-lbl lh-01">위치</span>
									<span class="s-txt">
										※연 세트 프론트에서 제공<br>
										※소망연날리기체험장: 삼포해수욕장
									</span>
								</li>
								<li class="l-td nth-7 lh-01">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://korean.visitkorea.or.kr/kor/bz15/where/festival/festival.jsp?cid=2541578','_blank')">▷소망 연날리기 축제</span>
								</li>
							</ul>
							
						</section>
				
						<!-- 180425 미드나잇 이벤트 추가-->
						<section class="facil-1 midnight">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 Midnight Picnic Festival</h3>
									<div class="bxBox">
										<!--<iframe src="https://www.youtube.com/embed/n0foR1sU99Y?version=3&loop=1&autoplay=1&playlist=n0foR1sU99Y" frameborder="0" allowfullscreen></iframe>-->
										<!--<iframe src="https://www.youtube.com/embed/n0foR1sU99Y?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>-->
										<iframe id="movieStyle" src="https://www.youtube.com/embed/n0foR1sU99Y?rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
										<!-- 181016 api 스크립트 삽입 -->
										<script type="text/javascript">
											var tag = document.createElement('script');
											tag.src = "https://www.youtube.com/iframe_api";
											var firstScriptTag = document.getElementsByTagName('script')[0];
											firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
						
											var player;
											function onYouTubeIframeAPIReady() {
												player = new YT.Player('movieStyle', {
													events: {
														'onReady': onPlayerReady
													}
												});
											}
											function onPlayerReady(event) {
												event.target.setVolume(20);
												event.target.playVideo();// 플레이어 자동실행 
											}
										</script>
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									2018 Midnight Picnic Festival
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018년 7월 13일(금)~15일(일)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">reve</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">-</span>
								</li>
								<li class="l-td nth-5 lh-01">
									<span class="s-lbl">시간</span>
									<span class="s-txt">10:00 ~ 23:00</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl lh-01">위치</span>
									<span class="s-txt">
										강원도 고성 삼포해수욕장
									</span>
								</li>
								<li class="l-td nth-7 lh-01">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.mipic.co.kr/','_blank');">http://www.mipic.co.kr/</span>
								</li>
							</ul>
						</section>
						<!-- // -->

						<section class="facil-1 sohwaghaeng">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">삼포해수욕장 소확행 불꽃놀이 & 캠프파이어 축제 </h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">고성 오션투유 삼포해수욕장 소/확/행 불꽃 캠프파이어 축제</p>
														<p class="fc-li-txt">
															<span class="hidden-xs">2018년을 정리하는 소소하지만 확실한 행복<br></span>
															2018년의 마지막날, 사랑하는 가족, 친구와 함께 아름다운 삼포해변의 밤하늘을 만나보세요.<br>
															<br>
															<span class="hidden-xs">별과 바람, 푸른바다를 배경으로 하는 삼포해변에서 불꽃축제와 캠프파이어!<br></span>
															“고성 오션투유 삼포해수욕장 소/확/행 불꽃 캠프파이어 축제”로 초대합니다.<br>
															<br>
															※ 본 행사는 우천 시 취소될 수 있습니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							<ul class="evt01-tb evt02-tb clr">
								<li class="l-th ftfm-mg">
									삼포해수욕장 소확행 불꽃놀이 & 캠프파이어 축제 
								</li>
								<li class="l-td">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018년 12월 31일(월)</span>
								</li>
								<li class="l-td">
									<span class="s-lbl">주최</span>
									<span class="s-txt">오션투유리조트</span>
								</li>
								<li class="l-td type02">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td type02 type03">
									<span class="s-lbl">시간</span>
									<span class="s-txt">일몰 이후 캠프파이어<br>23:30 새해맞이 불꽃놀이 진행</span>
								</li>
								<li class="l-td type03">
									<span class="s-lbl">위치</span>
									<span class="s-txt">강원도 고성 삼포해수욕장</span>
								</li>
								<li class="l-td type03">
									<span class="s-lbl">상세보기</span>
									
									<!-- 링크가 걸립니다. URL 미정 -->
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('https://korean.visitkorea.or.kr/detail/fes_detail.html?cotid=f289af9c-82e9-44ef-848b-cea1c6fd6a86','_blank')">▶불꽃 캠프파이어 축제</span>
								</li>
							</ul>
							
						</section>
						
						
						<!-- 180515 라벤더 축제 -->
						<section class="facil-1 lavender">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 고성 라벤더 축제</h3>
									<div class="bxBox" id="bxBox-1">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2"></li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									2018 고성 라벤더 축제
								</li>
								<li class="l-td nth-2 lh-01">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018.06.01(금)~2018.06.21(목)</span>
								</li>
								<li class="l-td nth-3 lh-02">
									<span class="s-lbl lh-01">주최</span>
									<span class="s-txt">하늬라벤더팜,<span class="hidden-xs"></span>꽃내마루 라벤더 연구회</span>
								</li>
								<li class="l-td nth-4 lh-01">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5 lh-01">
									<span class="s-lbl">시간</span>
									<span class="s-txt">09:00 ~ 19:00</span>
								</li>
								<li class="l-td nth-6 lh-02">
									<span class="s-lbl lh-01">위치</span>
									<span class="s-txt">강원도 고성군 간성읍 꽃대마을길 <span class="hidden-xs"></span>175</span>
								</li>
								<li class="l-td nth-7 lh-01">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.lavenderfarm.co.kr/src/contents/onepage.php?design_one_pages_id=3','_blank');">▷고성 라벤더 축제</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 20180323 연날리기 이벤트 추가 kite 클래스 추가 -->
						<!--<section class="facil-1 kite fac-mt">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg"> 리기태 명장과 함께 하는 삼포해수욕장 어린이날 연날리기 축제 2018</h3>
									<div class="bxBox" id="bxBox-2">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2"></li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 리기태 명장과 함께 하는 삼포해수욕장 어린이날 연날리기 축제 2018
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018년 5월 6일 하루</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">오션투유리조트</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5 lh-01">
									<span class="s-lbl">시간</span>
									<span class="s-txt">12:00 ~ 16:00</span>
								</li>
								<li class="l-td nth-6 lh-02">
									<span class="s-lbl lh-01">위치</span>
									<span class="s-txt">
										※연 세트 프론트에서 제공<br>
										※소망연날리기체험장 : 삼포해수욕장
									</span>
								</li>
								<li class="l-td nth-7 lh-01">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://korean.visitkorea.or.kr/kor/bz15/where/festival/festival.jsp?cid=2541578','_blank');">▷소망 연날리기 축제</span>
								</li>
							</ul>
						</section>-->
						
						<section class="facil-1">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">삼포해수욕장 불꽃놀이 및 캠프파이어</h3>
									<div class="bxBox" id="bxBox-1">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2"></li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb evt02-tb clr">
								<li class="l-th ftfm-mg">
									삼포해수욕장 불꽃놀이 및 캠프파이어
								</li>
								<li class="l-td">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2017년 12월 31일 하루</span>
								</li>
								<li class="l-td">
									<span class="s-lbl">주최</span>
									<span class="s-txt">오션투유리조트</span>
								</li>
								<li class="l-td type02">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td type02 type03">
									<span class="s-lbl">시간</span>
									<span class="s-txt">일몰 이후 캠프파이어 / 23:30 새해맞이 불꽃놀이 진행</span>
								</li>
								<li class="l-td">
									<span class="s-lbl">위치</span>
									<span class="s-txt">강원도 고성 삼포해수욕장</span>
								</li>
								<li class="l-td">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://korean.visitkorea.or.kr/kor/bz15/where/festival/festival.jsp?cid=2525641','_blank');">▷불꽃 캠프파이어 축제 2017</span>
								</li>
								<!-- <li class="l-td">
									<span class="s-lbl">홈페이지</span>
									<span class="s-txt" style="cursor:pointer;" onclick="location.href='http://www.ocean2you.co.kr'">http://www.ocean2you.co.kr</span>
								</li> -->
							</ul>
						</section>

						<section class="facil-1 geomdo">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">제61회 춘계 전국 중·고등학교검도대회</h3>
									<div class="bxBox" id="bxBox-geomdo">
										<ul class="bxS">
											<li></li>
											<li>
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">제61회 춘계 전국 중·고등학교검도대회</p>
														<p class="fc-li-txt">
															전국 중·고등학교검도대회는 수련을 통해 심신 단련,
															인격 수양하는 학생 검도인의 대련과 축제의 장입니다.
															금년 춘계 대회는 강원도 고성종합체육관에서 개최되오니 많은 참관을 부탁드립니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 제61회 춘계 전국 중·고등학교검도대회
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2019-04-05 ~ 04-07 (3일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">한국중·고등학교검도연맹</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">4월 5일 부터</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">
										고성종합체육관
									</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.kmhskumdo.org','_blank')">▷여기를 클릭해 주세요</span>
								</li>
							</ul>
						</section>
						
						<!-- DMZ 전국 플라잉디스크 대회 추가 -->
						<section class="facil-1 flying">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">제1회 고성군 DMZ 전국 플라잉디스크 대회</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">제1회 고성군 DMZ 전국 플라잉디스크 대회</p>
														<p class="fc-li-txt">
															대한민국 플라잉디스크 연맹에서 주최하는 전국플라잉디스크 대회가 개최됩니다. <br>
															고성공설운동장, 거진종합운동장, 고성군원반골프장에서 진행되는 이번 대회는<br>
															전국의 플라잉디스크인 (KFDF선수)을 위한 기대의 장이 될 것입니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 제1회 고성군 DMZ 전국 플라잉디스크 대회
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-11-17 ~ 11-18 (2일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">고성공설운동장, 거진종합운동장</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">11월 18일 19시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">청초호유원지</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.kfdf.info/','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>

						<!-- 180413 튤립축제 수정 -->
<!--
						<section class="facil-1 tulip fac-mt">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 삼포해변 튤립축제</h3>
									<div class="bxBox">
										<ul class="bxS">
											<li class="li-2"></li>
										</ul>
									</div>
								</li>
							</ul>
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 삼포해변 튤립축제
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018년 4월 21일 ~ 5월 23일</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">오션투유리조트</span>
								</li>
								<li class="l-td nth-4 lh-02">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5 lh-02">
									<span class="s-lbl lh-02">시간</span>
									<span class="s-txt lh-02">10:00 ~ 19:00</span>
								</li>
								<li class="l-td nth-6 lh-02">
									<span class="s-lbl">위치</span>
									<span class="s-txt">강원도 고성 삼포해수욕장</span>
								</li>
								<li class="l-td nth-7 lh-02">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.ocean2you.co.kr/','_blank');">http://www.ocean2you.co.kr/</span>
								</li>
							</ul>
						</section>
-->
						<!-- // -->
						
						<!-- GBA 고성 DMZ 그란폰도 추가 -->
						<section class="facil-1 granfondo">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 GBA 고성 DMZ 그란폰도</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 GBA 고성 DMZ 그란폰도</p>
														<p class="fc-li-txt">
															고성군 천혜의 자연환경인 산, 바다, 호수 그리고 DMZ를 달릴 수 있는 코스로 참가자들에게 보다 전문적인 특별한 경험을 선사하고 자신의 한계를 뛰어넘는 스포츠의 진정한 재미를 느낄 수 있습니다. <br>
															고성 그란폰도에서만 느낄 수 있는 온 가족이 함께 하는 특별한 이벤트도 즐겨보세요!
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 제1회 고성군 DMZ 전국 플라잉디스크 대회
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-10-13 ~ 10-13 (1일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">경동대학교</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">40,000원</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">10월 13일 15시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">거진읍 공설운동장</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.thebike.co.kr/race/view.php?r_idx=147','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 통일 고성 명태축제 추가 -->
						<section class="facil-1 pollock">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 통일 고성 명태축제</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 통일 고성 명태축제</p>
														<p class="fc-li-txt">
															고성 통일명태와 떠나는 4GO 여행! 이라는 주제로 여러분을 고성 통일 명태축제에 초대합니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 통일 고성 명태축제
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-10-18 ~ 10-21 (4일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">고성명태축제위원회</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">10월 21일 18시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">강원 고성군 거진항 일원</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.myeongtae.com/main/','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
					</li>
					<!-- // 고성 축제 끝 -->

					<li class="sokcho">
						<!-- 설악문화제 추가 -->
						<section class="facil-1 seolag">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 설악문화제</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 설악문화제</p>
														<p class="fc-li-txt">
															설악 문화제는 설악산과 관련된 산촌 문화, 동해바다를 근원으로 하는<br class="hidden-xs">
															어촌문화 그리고 청호동 아바이 마을로 대표되는 실향민문화 등 속초의 사회,역사,문화적 유산을<br class="hidden-xs">
															형상화한 소중한 우리의 문화 축제에 여러분을 초대합니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 설악문화제
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-10-12 ~ 10-14 (3일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">(사)속초축제위원회</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">10월 14일 19시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">속초시청 ~ 청학사거리</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://sokchofestival.com/wordpress/?page_id=11026','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 바다별빛 대포야 사랑해 추가 -->
						<section class="facil-1 sscLove">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 바다별빛 대포야 사랑해</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 바다별빛 대포야 사랑해</p>
														<p class="fc-li-txt">
															올해로 4년회재를 맞는 이번 행사에서는 7080 가요와 전통 국악 공연과 함께<br class="hidden-xs">
															가족과 연인이 즐길 수 있는 마술, 풍선아트 등 다채로운 체험 공연을 즐기실 수 있습니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 바다별빛 대포야 사랑해
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-10-20 ~ 10-20 (1일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">속초시</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">10월 20일 21시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">대포항 친수호안 특설무대</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://sokchofestival.com/wordpress/?page_id=16604','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 속초국화전 -->
						<section class="facil-1 gughwa">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 속초국화전</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 속초국화전</p>
														<p class="fc-li-txt">
															푸른 동해바다와 설악의 오색 단풍이 함께하는<br class="show-xs"> 속초 청포호유원지에 여러분을 초대합니다
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 속초국화전
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-10-08 ~ 11-02 (26일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">속초시공원녹지과</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">11월 02일 24시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">청초호유원지</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.sokchotour.com/intro/intro.asp','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 2차 : 설악동 단풍축제 -->
						<section class="facil-1 seolagMaple">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">설악동 단풍축제</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">설악동 단풍축제</p>
														<p class="fc-li-txt">
															설악산에 방문하는 관광객들과 지역주민들이 함께하는 노래자랑, 초청가수 공연을 비롯해<br class="hidden-xs">
															단풍잎 압화 및 페인팅과 같은 체험행사와 먹거리 장터, 핏골 걷기행사를 진행합니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 설악동 단풍축제
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-10-19 ~ 10-21 (3일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">설악동축제위원회</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">10월 21일 14시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">청초호 호수공원</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('https://www.sokchotour.com/korean/sub/list.asp?mode=view&sno=930','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 2차 : 스탬프투어 -->
						<section class="facil-1 stamp">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 스탬프투어, 오감만족 속초여행</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 스탬프투어, 오감만족 속초여행</p>
														<p class="fc-li-txt">
															오감만족 속초여행! 앱깔고, 스탬프 찍고,<br class="show-xs"> 여행후기 쓰고 경품 받자!<br>
															총 550만원의 경품이 있는 최고의 여행 이벤트가 될것입니다.<br>
															많은 참여 부탁드립니다.
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 스탬프투어, 오감만족 속초여행
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-07-01 ~ 11-30 (153일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">속초시청</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">무료</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">11월 30일 24시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">속초 전지역</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://www.sokchotour.com/korean/sub/tour_news.asp?mode=view&sno=9443','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
							
						</section>
						
						<!-- 2차 : 음악불꽃크루즈 -->
						<section class="facil-1 musicFire">
							<ul class="fc-list">
								<li class="nth-1">
									<h3 class="ftfm-mg">2018 속초 음악불꽃크루즈</h3>
									<div class="bxBox" id="bxBox-3">
										<ul class="bxS">
											<li class="li-1"></li>
											<li class="li-2">
												<div class="fc-li-box">
													<div class="fc-txt-box">
														<p class="fc-li-tit">2018 속초 음악불꽃크루즈</p>
														<p class="fc-li-txt">
															별빛 속 바다를 달리는 낭만 속초여행!<br>
															푸르고 시원한 동해바다를 배경으로 낭만과 감동이 있는 음악 불꽃 쇼를<br>
															사랑하는 사람과 속초 밤바다에서 즐겨보세요
														</p>
													</div>
												</div>
											</li>
										</ul>
										
									</div>
								</li>
							</ul>
							
							<ul class="evt01-tb clr">
								<li class="l-th ftfm-mg nth-1">
									 2018 속초 음악불꽃크루즈
								</li>
								<li class="l-td nth-2">
									<span class="s-lbl">기간</span>
									<span class="s-txt">2018-05-03 ~ 12-30 (242일간)</span>
								</li>
								<li class="l-td nth-3">
									<span class="s-lbl">주최</span>
									<span class="s-txt">크루즈 스토리</span>
								</li>
								<li class="l-td nth-4">
									<span class="s-lbl">요금</span>
									<span class="s-txt">별도요금</span>
								</li>
								<li class="l-td nth-5">
									<span class="s-lbl">시간</span>
									<span class="s-txt">12월 30일 19시</span>
								</li>
								<li class="l-td nth-6">
									<span class="s-lbl">위치</span>
									<span class="s-txt">하모니크루즈 선착장</span>
								</li>
								<li class="l-td nth-7">
									<span class="s-lbl">상세보기</span>
									<span class="s-txt" style="cursor:pointer;" onclick="window.open('http://cruisestory.co.kr/goods/catalog?code=00210001','_blank')">▶여기를 클릭해 주세요.</span>
								</li>
							</ul>
						</section>
					</li>
					<!-- // 속초 축제 끝 -->
				</ul>
			</div>
		
		</div>


		<div class="clr"></div>
		<footer class="footer">
			<div class="container">

				<ul class="f_menu">
					<!--171218 레이어팝업노출-->
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show(); $('body').css('overflow', 'hidden');">이용약관</a></li>
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show(); $('body').css('overflow', 'hidden');">개인정보처리방침</a></li>
				</ul>

				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							오션투유리조트 설악비치 호텔앤콘도<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9
							<!-- <span class="i-l"></span>TEL. 070-7688-2438 -->
							<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호
						</p>
					</address>
					<div class="cf-box">
						<p class="p-0">&lt;고객센터 안내&gt;</p>
						<div class="cf-in">
							<div class="callFor cf0">
								<span class="f-bd">고객센터 안내</span>
								문의에 따라 해당 고객센터로<br>
								전화주시면,문의사항을<br>
								해결해 드리겠습니다.
							</div>
							<a class="callFor cf1" href="tel:1666-1243">
								<span class="s1">예약문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 1666-1243</span>
								<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
							</a>
							<a class="callFor cf2" href="tel:010-8844-0409">
								<span class="s1">프론트</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 033-631-3811</span>
								<span class="s1-2">주중/주말 06시 ~ 02시</span>
							</a>
							<a class="callFor cf3" href="tel:010-8844-0409">
								<span class="s1">단체문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-8844-0409</span>
								<span class="s1-2">주중/주말 24시간 상담가능</span>
							</a>
						</div>
					</div>
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판사 입니다.
						<br><br>
						<p class="nth-2">
							Copyright 2016 OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>

		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
		<!-- 모바일 등장 -->
		<!--<a href="#" class="rtBookingBn" id="rtBookingBn">
			<img src="http://img.ocean2you.co.kr/renew/i_cal_2.png" alt="달력"><br>
			실시간<br>예약
		</a>-->
		
	</div>
</body>
</html>