<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">
	<!--<link rel="stylesheet" href="../../static/css/renew/common.css">-->
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/amenities/init.css">
	<!--<link rel="stylesheet" href="../../static/css/renew/amenities/init.css">-->
	<!-- 190226 css 추가 -->
	<link rel="stylesheet" href="http://static.ramadapt.co.kr/css/totalweb.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/facil/init.js"></script>
	<!--<script src="../../static/js/facil/init.js"></script>-->
	<!-- 190226 js 추가 -->
	<script src="http://static.ramadapt.co.kr/js/totalweb.js"></script>
	<!--
	    <link rel="stylesheet" href="../../static/css/renew/amenities/init_ie8.css">
		-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/amenities/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="#none" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
						<p class="logo-txt">
						    오션투유리조트
                            <span>속초설악비치 호텔앤콘도</span>
						</p>
					</a>

					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<nav class="nav-bar">
		                <!-- 180711 이벤트 당첨안내 메뉴주석처리  -->
						<!--<div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div>-->
						<!-- 190226 메뉴 수정 -->
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">객실안내</a></li>
							<li><a href="">다이닝</a></li>
							<li><a href="">연회&amp;부대시설</a></li>
							<li><a href="">이벤트/축제</a></li>
							<li><a href="">관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li><a href="">단체문의</a></li>
							<li><a href="">장기/단기숙박</a></li>
							<!--<li class="lst"><a href="">예약/예약확인</a></li>-->
						</ul>
					</nav>
					
                    <!-- 190226 예약하기 메뉴 추가 -->
                    <div class="bk-menu ocean">
                        <a href="#none" class="btn-bk">예약하기</a>
                        <ul class="bk-list">
                            <li class="item item-1 fst"><a href="#none">객실예약</a></li>
                            <li class="item item-2"><a href="#none">예약확인</a></li>
                            <li class="item item-3"><a href="#none">단체예약</a></li>
                            <li class="item item-4"><a href="#none">장기/단기예약</a></li>
                        </ul>
                    </div>
				</div>
				
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
                    <!-- 190226 예약하기 메뉴 추가 -->
                    <ul class="bk-menu-m clr">
                        <li>
                            <a href="#none" target="_blank">객실예약</a>
                        </li>
                        <li>
                            <a href="#none">예약확인</a>
                        </li>	
                    </ul>
				    <!-- 190226 메뉴 수정 -->
					<ul class="mNav">
                        <li class="fst"><a href="">오션투유소개</a></li>
                        <li><a href="">객실안내</a></li>
                        <li><a href="">다이닝</a></li>
                        <li><a href="">연회&amp;부대시설</a></li>
                        <li><a href="">이벤트/축제</a></li>
                        <li><a href="">관광지</a></li>
                        <li><a href="">오시는길</a></li>
                        <li><a href="">단체문의</a></li>
                        <li><a href="">장기/단기숙박</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
                <!-- 190226 서브 메뉴 변경 -->
				<div class="container tit-box">
					<h2>다이닝</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/facil/facil_title.png" alt="시설소개"></div>
                    <ul class="facil-tab clr" id="facil-tab">
                        <!-- span태그가 있는 부모요소 a태그에 line-two 클래스 추가 -->
                        <li class="nth-1"><a href="#none">조식뷔페 다연</a></li>
                        <li class="nth-2"><a href="#none" class="line-two">오션숯불갈비&amp;<span></span>바베큐장</a></li>
                        <li class="nth-3"><a href="#none">속초횟집</a></li>
                        <li class="nth-4"><a href="#none" class="line-two">반데라바베큐<span></span>플레이츠</a></li>
                        <li class="nth-5"><a href="#none">룸서비스</a></li>
                    </ul>
					
				</div>
								
			</section>
		</div>
		
		
        <!-- 190226 내용 수정 -->
		<div class="facil-wrap" id="setTop">
			<div class="container" id="facil-box">
				<section class="facil-1 on">
					<h3>Dining</h3>	
					<p class="p0">오션투유 리조트의 신선하고 정갈한 다이닝을 즐겨보세요.</p>
					<div class="mg-"></div>
					
					<!-- 배너 추가 -->
					<div class="banner-box">
					    <figure>
					        <img class="hidden-xs" src="http://img.ocean2you.co.kr/ocean_event_abf.jpg" alt="평일 숙박고객 무료조식 이벤트">
					        <img class="show-xs" src="http://img.ocean2you.co.kr/mobile/ocean_m_event_abf.jpg" alt="평일 숙박고객 무료조식 이벤트">
					    </figure>
					</div>
					
					<!-- 리스트 -->
					<ul class="facil-list">
                        <li class="item-1 clr">
                            <a href="#none" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_brf_01.jpg" alt="조식뷔페 다연 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">조식뷔페 다연</p>
                                <p class="p-1">다양한 섹션으로 구성된 프리미엄 뷔페 다연에서 <br class="hidden-xs">신선하고 다양한 요리를 한자리에서 만끽해보세요</p>
                                <p class="p-2">
                                    오션투유리조트 설악비치 호텔앤콘도에서는 소시지, 스크램블, 베이컨, 감자튀김, <br class="hidden-xs">
                                    샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
                                    특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 <br class="hidden-xs">
                                    요리 하나하나 최고의 맛을 자랑합니다.
                                </p>
                            </div>
                            <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                        </li> 
                        <li class="item-2 clr">
                            <a href="#none" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_rib_01.jpg" alt="오션숯불갈비 & 바베큐장 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">오션숯불갈비 & 바베큐장</p>
                                <p class="p-1">소나무 숲 향기와 파도소리를 느끼며 즐기실 수 있는 야외 바베큐장으로 <br class="hidden-xs">오션투유 리조트에서 즐거운 바베큐 파티를 즐겨보세요.</p>
                                <p class="p-2">
                                    오션투유리조트 설악비치 호텔앤콘도에서는 삼포해변을 바라보며 즐기실 수 있는 <br class="hidden-xs">
                                    바베큐장을 운영하고 있습니다.<br>
                                    오션투유리조트에 흩어지는 바다내음, 숯불내음, <br class="hidden-xs">
                                    그리고 사랑하는 사람에게 건내는 '쌈' 한주먹에는 웃음이 있습니다.
                                </p>
                            </div>
                            <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                        </li>
                        <li class="item-3 clr">
                            <a href="#none" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_fish_01.jpg" alt="속초횟집 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">속초횟집</p>
                                <p class="p-1">속초횟집에는 웅장한 동해가 보입니다.<br>동해의 신선함, 동해의 바다향, 동해의 푸르름을 느껴보세요.</p>
                                <p class="p-2">
                                    오션투유리조트 설악비치 호텔앤콘도에서는 소시지, 스크램블, 베이컨, 감자튀김, <br class="hidden-xs">
                                    샐러드, 시리얼 등 25종의 메뉴로 구성된 아메리칸 뷔페를 운영하고있습니다.<br>
                                    특급호텔 30년 근무 경력의 조리장들이 질 좋은 제철 식재료를 선별하여 <br class="hidden-xs">
                                    요리 하나하나 최고의 맛을 자랑합니다.
                                </p>
                            </div>
                            <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                        </li>  
                        <li class="item-4 clr">
                            <a href="#none" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_bbq_01.jpg" alt="반데라 리얼바베큐 플레이츠 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">반데라 리얼바베큐 플레이츠</p>
                                <p class="p-1">훈연의 향이 가득한 반데라 리얼바베큐 플레이츠를 <br class="hidden-xs">동해의 삼포해변에서 즐기실 수 있습니다.</p>
                                <p class="p-2">
                                    정통 바베큐집의 조리법 그대로 챠콜(숯)과 나무 (사과나무, 벚나무, 포도나무, <br class="hidden-xs"> 
                                    배나무, 복숭아나무, 참나무, 히코리나무, 머스킷나무 등)를 훈연하여 부드러운 <br class="hidden-xs">
                                    바베큐의 식감과 육즙을 즐기실 수 있는 미국 남부식 바베큐 전문점입니다.
                                </p>
                            </div>
                            <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                        </li> 
                        <li class="item-5 clr">
                            <a href="#none" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_room_01.jpg" alt="룸서비스 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">룸서비스</p>
                                <p class="p-1">빠르고 신선한 음식을 바로 즐길 수 있는 <br class="hidden-xs">오션투유 리조트 만의 독보적인 룸서비스 안내</p>
                                <p class="p-2">
                                    오션투유리조트 설악비치 호텔앤콘도에서는 고객님들이 조금 더 편안한 휴식을 <br class="hidden-xs">
                                    즐기실 수 있도록 룸서비스를 운영하고 있습니다.<br>
                                    특급 호텔 30년 경력의 셰프가 직접 싱싱한 활어를 공수하여 제공하는 모듬 회, <br class="hidden-xs">
                                    주문 즉시 조리하는 비법 소스로 맛을 낸 모듬 물회 등을 룸서비스로 만나보세요.
                                </p>
                            </div>
                            <a href="#none" class="btn-view" title="페이지 이동"><span>자세히보기</span></a>
                        </li> 
                    </ul>
					
					
					<!-- 오션투유 객실안내 -->
					<div class="d-area-1" id="d-area-1"><a href="javascript:;" class="btn-a">오션투유 리조트 객실안내 자세히 보기</a></div>
					<section class="facil-2">
					
						<h3>Accommodations</h3>
						<p class="p0">오션투유 리조트만의 편안하고 아늑한 객실에서 격이 다른 휴식과 여유를 경험해보세요.</p>
						<div class="mg-"></div>

						<ul class="fc-list" id="room-list">
							<!--171115 내용추가 및 클래스 수정-->
							<li class="nth-1">
								<h4>리노베이션 오션뷰 테라스 / 오션 사이드뷰 테라스 </h4>
								<div class="bxBox">
									<ul class="bxS">
										<li><img src="http://img.ocean2you.co.kr/renew/facil/terrace_01.jpg" alt="리노베이션콘도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/terrace_02.jpg" alt="리노베이션콘도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/terrace_03.jpg" alt="리노베이션콘도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_01.jpg" alt="리노베이션콘도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_02.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_03.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_04.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_05.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_06.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_07.jpg" alt="리노베이션코도"></li>
									</ul>
									<div class="txt-box">
										<p class="p1">리노베이션 오션뷰 테라스 / 오션 사이드뷰 테라스</p>
										<p class="p2"><span class="xs-block">바다가 한폭의 그림처럼 펼쳐지며,</span> 원목의 테라스가 있는 프라이빗한 콘도형 디럭스룸 </p>
										<a href="" class="more-a"><span class="s0">예약하기</span></a>
									</div>
								</div>
							</li>
							<li class="nth-2">
								<h4>오션투유 리노베이션 콘도</h4>
								<div class="bxBox">
									<ul class="bxS">
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_01.jpg" alt="리노베이션콘도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_02.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_03.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_04.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_05.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_06.jpg" alt="리노베이션코도"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_07.jpg" alt="리노베이션코도"></li>
									</ul>
									<div class="txt-box">
										<p class="p1">리노베이션 콘도 오션뷰</p>
										<p class="p2"><span class="xs-block">고급스러운 색채와 편안한 분위기의 침실,</span> 넓은 공간 활용이 매력적이며 취사가 가능한 콘도형 룸</p>
										<a href="" class="more-a"><span class="s0">예약하기</span></a>
									</div>
								</div>
							</li>
							<li class="nth-2">
								<h4>오션투유 리노베이션 호텔</h4>
								<div class="bxBox">
									<ul class="bxS">
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_01.jpg" alt="리노베이션호텔"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_02.jpg" alt="리노베이션호텔"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_03.jpg" alt="리노베이션호텔"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_04.jpg" alt="리노베이션호텔"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_05.jpg" alt="리노베이션호텔"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_06.jpg" alt="리노베이션호텔"></li>
									</ul>
									<div class="txt-box">
										<p class="p1">리노베이션 호텔 오션뷰</p>
										<p class="p2"><span class="xs-block">편안하고 아늑한 분위기의 침실과</span> 독립적 공간 활용이 매력적인 호텔형 오션뷰 룸</p>
										<a href="" class="more-a"><span class="s0">예약하기</span></a>
									</div>
								</div>
							</li>
							<li class="nth-3">
								<h4>오션투유 콘도</h4>
								<div class="bxBox">
									<ul class="bxS">
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_01.jpg" alt="일반콘도오션뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_02.jpg" alt="일반콘도오션뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_03.jpg" alt="일반콘도오션뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_04.jpg" alt="일반콘도오션뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_05.jpg" alt="일반콘도오션뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_06.jpg" alt="일반콘도오션뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_07.jpg" alt="일반콘도오션뷰"></li>
									</ul>
									<div class="txt-box">
										<p class="p1">일반콘도 오션뷰</p>
										<p class="p2">
											<span class="xs-block">편안한 인테리어와 아름다운</span> 삼포해변이 한눈에 보이는 콘도형 오션뷰 룸<br>
											23평/ 4인실(최대7명)
										</p>
										<a href="" class="more-a"><span class="s0">예약하기</span></a>
									</div>
								</div>

								<div class="bxBox nth-2">
									<ul class="bxS">
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_mt_01.jpg" alt="일반콘도마운틴뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_mt_02.jpg" alt="일반콘도마운틴뷰"></li>
										<li><img src="http://img.ocean2you.co.kr/renew/facil/facil_mt_03.jpg" alt="일반콘도마운틴뷰"></li>
									</ul>
									<div class="txt-box">
										<p class="p1">일반콘도 마운틴뷰</p>
										<p class="p2">
											<span class="xs-block">편안한 인테리어와 아름다운 설악산의</span> 웅장함이 보이는 콘도형 마운틴뷰 룸<br>
											23평/ 4인실(최대7명)
										</p>
										<a href="" class="more-a"><span class="s0">예약하기</span></a>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</section>
			</div>
		
		</div>

       <!-- <div class="rBn-box">
			<a href="http://ocean2you.co.kr/view/"><img src="http://img.ocean2you.co.kr/renew/group/group_bn_01.png" alt="일반예약하러가기"></a>
		</div>-->
		
		<footer class="footer">
			<div class="container">
									<ul class="f_menu">
						<!--171218 레이어팝업노출-->
						<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show(); $('body').css('overflow', 'hidden');">이용약관</a></li>
						<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show(); $('body').css('overflow', 'hidden');">개인정보처리방침</a></li>
					</ul>
								<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							<!--180528 사업자명 변경-->
							(주)이스턴월드<br>
							대표자 : 김흥기<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						</p>
					</address>
					<!--171127 예약문의 변경-->
					<div class="cf-box">
						<p class="p-0">&lt;고객센터 안내&gt;</p>
						<div class="cf-in">
							<div class="callFor cf0">
								<span class="f-bd">고객센터 안내</span>
								문의에 따라 해당 고객센터로<br>
								전화주시면,문의사항을<br>
								해결해 드리겠습니다.
							</div>
														<a class="callFor cf1">
								<span class="s1">예약문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">(</span>확정, 변경, 취소<span class="xs-hidden">)</span><span class="xs-block"></span>/이벤트 문의</span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 1666-1243</span>
								<!--<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>-->
								<span class="s1-2">주중 09:30 ~ 25:00<br>주말 09:30 ~ 24:00</span>
							</a>
							<a class="callFor cf2">
								<span class="s1">프론트</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">(</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">)</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 033-631-3811</span>
								<span class="s1-2">주중/주말 06시 ~ 02시</span>
							</a>
							<a class="callFor cf3">
								<span class="s1">단체문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">(</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">)</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-9094-0396</span>
								<!-- <span class="s1-2">주중/주말 24시간 상담가능</span> -->
								<span class="s4"><img class="i-mail" src="http://img.ocean2you.co.kr/renew/group/icon_mail.jpg" alt="메일"> help@ocean2you.co.kr</span>
							</a>
						</div>
					</div>
					
					
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 215-87-85373<span class="i-l"></span>통신판매업 : 제2017-서울강남-00561호<br>
							여행업등록번호 : 제2017-07호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						<!--180528 텍스트 수정-->
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판으로서 온라인 예약 및 결제를 대행합니다.
						<br><br>
						<p class="nth-2">
							Copyright 2016  OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
	
</body>
</html>