<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>오션투유 룸서비스</title>

	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유 룸서비스">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트, 룸서비스">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트, 룸서비스">
	<meta name="twitter:title" content="오션투유 룸서비스">

	<link rel="stylesheet" href="http://ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	<link rel="stylesheet" href="http://ocean2you.co.kr/fonts/notosanskr/notosanskr.css"> 
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">

	<!-- <link rel="stylesheet" href="../../static/css/renew/landing/init.css"> -->
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/landing/init.css">

	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</head>
<body>
	
	<div class="landing-wrapper roomservice">
		<header class="landing-header">
			<h1 class="text-hide">오션투유 룸서비스 안내</h1>
		</header>
		<div class="landing-contents">
			<section class="sec visual">
				<h1 class="text-hide">오션투유 룸서비스는?</h1>
				<img src="http://img.ocean2you.co.kr/renew/landing/roomservice/visual.jpg" alt="룸서비스주문">
				<p class="text-hide">
					전화한번으로 객실까지 편하게<br>
					1.빠르고 간편하게 전화주문으로 객실까지<br>
					2. 주문 후 룸서비스 객실 방문 시 신용카드로 후불 결제<br>
					3. 프론트에 직접 요청하셔도 동일하게 이용가능
				</p>
			</section>
			<section class="sec rawfish">
				<h1 class="text-hide">계절모듬회/물회</h1>
				<img src="http://img.ocean2you.co.kr/renew/landing/roomservice/rawfish.jpg" alt="신선함이 살아있는 청정 동해의 제철 횟감">
			</section>
			<section class="sec bbq">
				<h1 class="text-hide">반데라 바베큐플레이츠</h1>
				<img src="http://img.ocean2you.co.kr/renew/landing/roomservice/bbq.jpg" alt="정통 차콜그릴의 리얼바베큐를 맛보세요">
			</section>
			<section class="sec wine">
				<h1 class="text-hide">와인패키지</h1>
				<img src="http://img.ocean2you.co.kr/renew/landing/roomservice/wine.jpg" alt="아름다운 바다와 와인한잔">
			</section>
		</div>
		<footer class="landing-footer">
			<a href="tel:010-4429-0250" class="link-call fixed">
				<img src="http://img.ocean2you.co.kr/renew/landing/roomservice/call.jpg" alt="룸서비스 전화주문">
			</a>
		</footer>
	</div>

</body>
</html>