<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
	<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<title>오션투유리조트</title>
	
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="오션투유리조트">
	<meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="오션투유리조트">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
	<meta name="twitter:title" content="오션투유리조트">
	<!--<link rel="canonical" href="도메인">-->
	
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css"> 
	<!--<link href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/package/init.css">
<!--	<link rel="stylesheet" href="../../static/css/renew/common.css">-->
	<!--<link rel="stylesheet" href="../../static/css/renew/package/init.css">-->
	<!-- 190226 css 추가 -->
	<link rel="stylesheet" href="http://static.ramadapt.co.kr/css/totalweb.css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/package/init.js"></script>
	<!--<script src="../../static/js/renew/package/init.js"></script>-->
	<!-- 190226 js 추가 -->
	<script src="http://static.ramadapt.co.kr/js/totalweb.js"></script>
	
	<!--
	<link rel="stylesheet" href="../../static/css/renew/package/init_ie8.css">
		-->
		
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/package/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<h1 class="hidden">오션투유리조트</h1>
	<div id="wrap">

		
		<div class="vid-wrap">
			<header class="header" id="gnb-header">
				<div class="container">
					<a href="#none" class="logo-box">
						<img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유리조트">
						<p class="logo-txt">
						    오션투유리조트
                            <span>속초설악비치 호텔앤콘도</span>
						</p>
					</a>

					<button class="mNav-btn" id="mNav-btn" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<nav class="nav-bar">
		                <!-- 180711 이벤트 당첨안내 메뉴주석처리  -->
						<!--<div class="d1">
							<a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
							<a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
						</div>-->
						<!-- 190226 메뉴 수정 -->
						<ul class="nav clr">
							<li class="fst"><a href="">오션투유소개</a></li>
							<li><a href="">객실안내</a></li>
							<li><a href="">다이닝</a></li>
							<li><a href="">연회&amp;부대시설</a></li>
							<li><a href="">이벤트/축제</a></li>
							<li><a href="">관광지</a></li>
							<li><a href="">오시는길</a></li>
							<li><a href="">단체문의</a></li>
							<li><a href="">장기/단기숙박</a></li>
							<!--<li class="lst"><a href="">예약/예약확인</a></li>-->
						</ul>
					</nav>
					
                    <!-- 190226 예약하기 메뉴 추가 -->
                    <div class="bk-menu ocean">
                        <a href="#none" class="btn-bk">예약하기</a>
                        <ul class="bk-list">
                            <li class="item item-1 fst"><a href="#none">객실예약</a></li>
                            <li class="item item-2"><a href="#none">예약확인</a></li>
                            <li class="item item-3"><a href="#none">단체예약</a></li>
                            <li class="item item-4"><a href="#none">장기/단기예약</a></li>
                        </ul>
                    </div>
				</div>
				
				<nav class="mNav-box" id="mNav-box">
					<h2><a href="">HOME</a></h2>
                    <!-- 190226 예약하기 메뉴 추가 -->
                    <ul class="bk-menu-m clr">
                        <li>
                            <a href="#none" target="_blank">객실예약</a>
                        </li>
                        <li>
                            <a href="#none">예약확인</a>
                        </li>	
                    </ul>
				    <!-- 190226 메뉴 수정 -->
					<ul class="mNav">
                        <li class="fst"><a href="">오션투유소개</a></li>
                        <li><a href="">객실안내</a></li>
                        <li><a href="">다이닝</a></li>
                        <li><a href="">연회&amp;부대시설</a></li>
                        <li><a href="">이벤트/축제</a></li>
                        <li><a href="">관광지</a></li>
                        <li><a href="">오시는길</a></li>
                        <li><a href="">단체문의</a></li>
                        <li><a href="">장기/단기숙박</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="title">
			
                <!-- 190226 서브 메뉴 변경 -->
				<div class="container tit-box">
					<h2>연회&amp;부대시설</h2>
					<div class="mg-"></div>
					<div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/facil/facil_title.png" alt="시설소개"></div>
                    <ul class="pkg-tab tab-wid clr" id="pkg-tab">
                        <li class="nth-1"><a href="javascript:;" class="line-two">오션투유리조트 <span></span>연회장</a></li>
                        <li class="nth-2"><a href="javascript:;" class="line-two">오션투유리조트 <span></span>노래방</a></li>
                        <li class="nth-3"><a href="javascript:;">전동바이크 대여</a></li>
                        <li class="nth-4 no-tab"><a href="javascript:;" class="line-two">라바짜 <span></span>속초설악비치점</a></li>
                        <li class="nth-5 no-tab"><a href="javascript:;">GS편의점 입점</a></li>
                        <!-- 190319 낚시도구 대여 추가  -->
                        <li class="nth-6"><a href="javascript:;">낚시도구 대여</a></li>
                    </ul>
					
				</div>
								
			</section>
		</div>
		
		
		<div class="pkg-wrap" id="setTop">
            <!-- 180425 section 전체 class 'pkg-' 숫자 수정 -->
			<div class="container" id="pkg-box">
			
				<!-- 190226 연회장 추가 -->
				<section class="pkg-1">
					<h3>오션투유리조트 연회장</h3>	
					<p class="p0">최대 1,800명까지 수용 가능한 오션투유 연회장</p>
					<div class="mg-"></div>
					<div class="bxBox">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_banq_01.jpg" alt="오션투유노래방1"></li>
						</ul>
					</div>
					
					<h4>오션투유리조트 연회장</h4>
					<p class="p1">
						최대 1,800명까지 수용 가능한 오션투유 연회장에서 다양한 행사를 진행 하실 수 있습니다.<br>
                        다이아몬드홀, 크리리스탈홀이 준비되어 있으며 연회 성격에 맞도록 세팅이 가능합니다.<br>
                        기업 워크샵, 세미나, 종교단체, 수학여행, 체험학습, 가족여행 등 단체숙박과 행사가 필요한 단체예약 고객님께 추천드립니다.
					</p>
					
					<div class="ul-box clr wd-full">
					    <h5>연회장 안내</h5>
					    <div class="mBanqTb show-xs show-sm show-md">
                            <table class="hall-1">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>사진</th>
                                        <th>연회장</th>
                                        <th>위치</th>
                                        <th>면적</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="http://img.ocean2you.co.kr/renew/group/hallRoom_01.jpg" alt="다이아몬드홀"></td>
                                        <td>다이아몬드홀</td>
                                        <td>2층</td>
                                        <td>28m x 16m</td>
                                    </tr>
                                    <tr>
                                        <td><img src="http://img.ocean2you.co.kr/renew/group/hallRoom_02.jpg" alt="크리스탈홀"></td>
                                        <td>크리스탈홀</td>
                                        <td>B1층</td>
                                        <td>24m x 12m</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="hall-2">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th colspan="4">수용인원 및 이용안내</th>
                                    </tr>
                                    <tr>
                                        <th>연회장</th>
                                        <th>연회석</th>
                                        <th>세미나</th>
                                        <th>극장식</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="textCenter">
                                        <th>다이아몬드홀</th>
                                        <td><img class="numType_01" src="http://img.ocean2you.co.kr/renew/group/numType_01.jpg" alt="연회석"> <span>700명</span></td>
                                        <td><img class="numType_02" src="http://img.ocean2you.co.kr/renew/group/numType_02.jpg" alt="세미나"> <span>1,000명</span></td>
                                        <td><img class="numType_03" src="http://img.ocean2you.co.kr/renew/group/numType_03.jpg" alt="극장식"> <span>1,500명</span></td>
                                    </tr>
                                    <tr class="textCenter">
                                        <th>크리스탈홀</th>
                                        <td><img class="numType_01" src="http://img.ocean2you.co.kr/renew/group/numType_01.jpg" alt="연회석"> <span>500명</span></td>
                                        <td><img class="numType_02" src="http://img.ocean2you.co.kr/renew/group/numType_02.jpg" alt="세미나"> <span>700명</span></td>
                                        <td><img class="numType_03" src="http://img.ocean2you.co.kr/renew/group/numType_03.jpg" alt="극장식"> <span>1,000명</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
					    <div class="banqTb show-lg">
                            <table class="hall-1">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th rowspan="2">사진</th>
                                        <th rowspan="2">연회장</th>
                                        <th rowspan="2">위치</th>
                                        <th rowspan="2">면적</th>
                                        <th colspan="3">수용인원 및 이용안내</th>
                                    </tr>
                                    <tr>
                                        <th>연회식</th>
                                        <th>스쿨식</th>
                                        <th>극장식</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="textCenter">
                                        <td><img src="http://img.ocean2you.co.kr/renew/group/hallRoom_01.jpg" alt="다이아몬드홀"></td>
                                        <td>다이아몬드홀</td>
                                        <td>2층</td>
                                        <td>28m x 16m</td>
                                        <td class="textCenter"><img class="numType_01" src="http://img.ocean2you.co.kr/renew/group/numType_01.jpg" alt="연회석"> <span>220명</span></td>
                                        <td class="textCenter"><img class="numType_02" src="http://img.ocean2you.co.kr/renew/group/numType_02.jpg" alt="세미나"> <span>250명</span></td>
                                        <td class="textCenter"><img class="numType_03" src="http://img.ocean2you.co.kr/renew/group/numType_03.jpg" alt="극장식"> <span>300명</span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="http://img.ocean2you.co.kr/renew/group/hallRoom_02.jpg" alt="크리스탈홀"></td>
                                        <td>크리스탈홀</td>
                                        <td>B1층</td>
                                        <td>24m x 12m</td>
                                        <td class="textCenter"><img class="numType_01" src="http://img.ocean2you.co.kr/renew/group/numType_01.jpg" alt="연회석"> <span>200명</span></td>
                                        <td class="textCenter"><img class="numType_02" src="http://img.ocean2you.co.kr/renew/group/numType_02.jpg" alt="세미나"> <span>230명</span></td>
                                        <td class="textCenter"><img class="numType_03" src="http://img.ocean2you.co.kr/renew/group/numType_03.jpg" alt="극장식"> <span>280명</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
					</div>
					
					<div class="ul-box wid50 clr">
                        <h5>연회장 시설 시설 및 설비 안내</h5>
                        <ul class="ul0-1">
                            <li class="i-s">무선 인터넷, 빔 프로젝트, 스크린(110인치), 이동식엠프, 유무선 마이크, <br>영상시설, 화이트 보드, VTR 음향장비, 노래방기기</li>
                        </ul>
                    </div>
                    
					<div class="ul-box wid50 clr">
                        <h5>단체 예약문의</h5>
                        <ul class="ul0-1">
                            <li class="i-s">문의처:  010-9094-0396 (주중/주말 24시간 상담가능)</li>
                            <li class="i-s">이메일문의: help@ocean2you.co.kr</li>
                        </ul>
                        <!-- 클릭하면 단체문의 폼페이지로 -->
                        <a href="#none" class="rv-a2"><span class="s0">단체견적 문의하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
                    </div>
					
				</section>
				
				<!-- 180723 오션투유 노래방 추가 -->
				<section class="pkg-2">
					<h3>속초 오션투유노래방 고성점</h3>	
					<p class="p0">쿵짝♪ 쿵짝♪ 신나는 노래, 흥겨운 댄스</p>
					<div class="mg-"></div>
					<div class="bxBox" id="bxBox-4">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_karaoke_01.jpg" alt="오션투유노래방1"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_karaoke_02.jpg" alt="오션투유노래방2"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_karaoke_03.jpg" alt="오션투유노래방3"></li>
						</ul>
					</div>
					
					<h4>속초 오션투유노래방 고성점 상세안내</h4>
					<p class="p1">
						속초 오션투유노래방 고성점에는 메아리가 들립니다. <br>
                        소중한 사람들과 노래하고 춤추다 보면 "우린 지금 행복하다"는 메아리가 들립니다. <br>
                        최신식 기계로 최상의 사운드를 약속하며, 오션투유내 판매되는 모든 음식을 주문하여 이용하실 수 있습니다.
					</p>
					
					<div class="ul-box clr wd-full">
					    <h5>운영시간 및 위치안내</h5>
					    <ul class="ul0-1">
					        <li><em>연중무휴 운영</em><span class="line"></span>운영시간은 18시 ~ 24시 입니다.</li>
					        <li class="i-s">이용고객이 많은 경우, 마감시간이 연장될 수 있습니다.</li>
					        <li>
                               <span class="sub-tit">위치안내</span>
                               오션투유 리조트 지하 1층 위치
                            </li>
					    </ul>
					</div>
					
					<div class="ul-box clr wd-full">
					    <h5>요금 및 이용안내</h5>
					    <ul class="ul0-1 li-left-2">
					        <li>
					            <em>단품</em><br>
                                <p class="i-d">패밀리 룸(4인~5인)<span class="line"></span>1시간 25,000원</p>
                                <p class="i-d">그룹 룸 (6~7인)<span class="line"></span>1시간 35,000원</p>
                                <p class="i-d">대행 룸(8인~12인)<span class="line"></span>1시간 45,000원</p>
                                <p class="i-d">홀 대여(20인 이상)<span class="line"></span>1시간 100,000원</p>
					        </li>
					        <li>
					            <em>패키지</em><br>
                                <p class="i-d">패밀리 룸 셋트<span class="line"></span>1시간 69,000<br>(노래방 1시간+주류5병(소주or맥주)+바베큐플레이츠)</p>
                                <p class="i-d">그룹 룸 셋트<span class="line"></span>1시간 79,000원<br>(노래방 1시간+주류5병(소주or맥주)+바베큐플레이츠)</p>
					        </li>
					        
					        <li class="clr-li">
					            <p class="i-s">현장에서 시간 연장이 가능합니다.</p>
                                <p class="i-s">주료(소주, 맥주, 양주, 와인, 사케, 보드카 등 다양한 주류 구매가 가능합니다.</p>
                                <p class="i-s">마른안주(마른안주,오징어,먹태 등) 및 바베큐플레이츠 및 각종 자연산 회도 주문 가능합니다.</p>
                            </li>
                            
					        
					    </ul>
					</div>

					<a href="javascript:;" class="rv-a"><span class="s0">사전 예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
				</section>
            
			    <!-- 전동바이크 -->
				<section class="pkg-3">
					<h3>전동바이크</h3>	
					<p class="p0"><span class="xs-block">탁 트인 삼포 해변 해안가를 따라 시원하게 즐기는</span> 전동바이크 이용 안내</p>
					<div class="mg-"></div>
					<div class="bxBox" id="bxBox-1">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bike_01.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bike_02.jpg" alt="전동바이크 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_bike_03.jpg" alt="전동바이크 패키지"></li>
						</ul>
					</div>
					
					<h4>전동바이크 상세안내</h4>
					<p class="p1">
						오션투유리조트 설악비치 호텔앤콘도에서는 탁 트인 해안가를 따라 가슴까지 시원하게 즐길 수 있는 전동 바이크장을 운영하고 있습니다.<br>
                        다양한 코스와 강원도 고성의 아름다운 풍경을 눈과 마음에 담으며 연인, 친구, 가족과 더욱 즐거운 여행을 즐길 수 있습니다.<br>
                        두 단계 보안장치로 더욱 안전하게 즐길 수 있는 전동 바이크로 잊지 못할 즐거운 추억을 만들어 드립니다.
					</p>
					
					
					<ul class="ul0 clr">
						<li class="nth-1 clr">
							<h5>운영시간</h5>
							<p class="p-txt">평일/주말 공통 09:00~20:00</p>
							<p class="p-txt i-s">20:00시 까지 반납</p>
						</li>
						<!-- 180529 이용요금 내용수정 -->
						<li class="nth-2">
							<h5>이용요금</h5>
							<p class="p-txt i-d">
							    1인용 1시간<br>
							    : 정상가 15,000원 / 사전예약가 14,000원
							</p>
							<p class="p-txt i-d">
							    1인용 2시간<br>
							    : 정상가 26,000원 / 사전예약가 24,000원
							</p>
							<p class="p-txt i-d">
							    2인용 1시간<br>
							    : 정상가 20,000원 / 사전예약가 18,000원
							</p>
							<p class="p-txt i-d">
							    2인용 2시간<br>
							    : 정상가 35,000원 / 사전예약가 30,000원
							</p>
							<p class="p-txt i-s">보호장비 무상대여</p>
							<p class="p-txt i-s c-red"><a href="http://www.ocean2you-bike.co.kr/view" target="_blank" title="사전예약 페이지 이동">온라인 사전예약은 여기를 참고해 주세요.</a></p>
						</li>
						
						<li class="nth-3">
							<h5>주의사항</h5>
							<p class="p-txt i-d">
								전동 바이크 탑승 전, 운전면허증 확인은 필수입니다.<br>
								(현장 확인, 미 소지시 이용불가) 
							</p>
							<p class="p-txt i-d">
								보호장비 착용시에만 이용 가능합니다.(무상 대여)
							</p>
							<p class="p-txt i-d">
								국도 및 백사장 방향은 주행 불가합니다.
							</p>
							<p class="p-txt i-d">
								대여자 본인 이외에, 제 3자의 운행은 불가합니다.
							</p>
							<p class="p-txt i-d">
								우천 시 이용 불가하며, 결제금액은 전액 환불 처리 됩니다. 
							</p>
							<p class="p-txt i-d">
								사고 및 분실, 파손에 따른 책임은, 대여자 100% 본인 
								부담 처리됩니다.
							</p>
							<p class="p-txt i-d">
								사고 및 고장시에는 사무실로 전화 바랍니다.<br>
								(문의 : 010-4429-0250) 
							</p>
						</li>
					</ul>
					<!--171204 전동바이크 운영 중단 -->
					<!-- 180529 주석처리(동절기 재사용) -->
					<!--<p class="p-row">
						2월까지 동절기로 인하여 운영을 중단합니다.<br>
						<span class="f-bd">전동바이크 3월부터 이용가능</span>합니다.
					</p>-->
				</section>
            
			    <!-- 190319 낚시도구 대여 추가 -->
				<section class="pkg-6">
					<h3>낚시도구 대여</h3>	
					<p class="p0">낚시 고수들이 제안하는 포인트~  낚시 도구 대여 이용 안내</p>
					<div class="mg-"></div>
					<div class="bxBox" id="bxBox-1">
						<ul class="bxS">
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_fishing_01.jpg" alt="낚시도구 대여 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_fishing_02.jpg" alt="낚시도구 대여 패키지"></li>
							<li><img src="http://img.ocean2you.co.kr/renew/package/pkg_fishing_03.jpg" alt="낚시도구 대여 패키지"></li>
						</ul>
					</div>
					
					<h4>낚시도구 대여 상세안내</h4>
					<p class="p1">
						오션투유리조트의 주변은 모두가 최고의 낚시포인트 입니다. 탁트인 해안가에서 모두가 즐거운 낚시를 즐겨보세요.<br>
                        물론 낚시도구는 따로 준비하실 필요가 없습니다. 온라인 객실예약시 낚시 패키지를 구입하시면 리조트 프론트에서 대여가 가능합니다.<br>
                        동해는 역시 낚시~ 모두가 즐거운 바다 낚시를 최고의 포인트에서 즐겨보세요.
					</p>
					
					<div class="ul-box wid50 type-2 clr">
					    <h5>운영시간 및 대여장소</h5>
					    <ul class="ul0-1">
					        <li>대여시간 : 07:00~17:00 (17:00시까지 반납)</li>
					        <li>대여장소 : 오션투유 리조트 프론트</li>
					    </ul>
					</div>
					
					<div class="ul-box wid50 type-2 clr">
					    <h5>운영시간 및 대여장소</h5>
                        <ul class="ul0-1 clr">
                            <li class="i-d clr">
                                <span>1일 1개</span> <span>현장정상가 20,000원 / 사전예약가 19,000원</span>
                            </li>
                            <li class="i-d clr">
                                <span>구성품목</span> <span>낚시대 1대, 삼각대 1대, 두레박 1개, 묶음추 2개, 목장갑 1개, 갯지렁이 1박스를 지급</span>
                            </li>
                            <li class="i-s mt">현장에서 낚시용품 추가 구매 가능</li>
                            <li class="i-s">원하는 시간대에 프론트에 말씀하신 후 낚시 도구를 수령</li>
                            <li class="i-s">분실 및 파손시 배상이 요구될 수도 있습니다.</li>
                        </ul>
					</div>
					
					<div class="ul-box wd-full type-2 clr">
					    <h5>리조트 주변 낚시 포인트 안내 <a href="http://img.ocean2you.co.kr/renew/package/pkg_fishing_map.pdf" class="btn-dl" target="_blank">낚시 포인트 다운로드</a></h5>
                        <p class="">리조트와의 거리, 상세 위치를 확인 하신 후 선택해 주세요.</p>
                        
                        <ul class="pkg-map-list clr">
                            <li class="map-all">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_all.jpg" alt="전체 낚시포인트"></figure>
                            </li>
                            <li class="map-l ml-1">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_bakdohang.jpg" alt="백도항 낚시포인트"></figure>
                            </li>
                            <li class="map-l ml-2">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_munamri.jpg" alt="문암2리 낚시포인트"></figure>
                            </li>
                            <li class="map-l ml-3">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_konghyungjin.jpg" alt="공형진 낚시포인트"></figure>
                            </li>
                            <li class="map-l ml-4">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_gajin.jpg" alt="가진항 낚시포인트"></figure>
                            </li>
                            <li class="li-1">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_ayajin.jpg" alt="아야진리 낚시포인트"></figure>
                            </li>
                            <li class="li-2">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_chonjinri.jpg" alt="천진리 낚시포인트"></figure>
                            </li>
                            <li class="li-3">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_bongpo.jpg" alt="봉포항 낚시포인트"></figure>
                            </li>
                            <li class="li-4">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_gerjin.jpg" alt="거진항 낚시포인트"></figure>
                            </li>
                            <li class="li-5">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_chodori.jpg" alt="초도리 낚시포인트"></figure>
                            </li>
                            <li class="li-6">
                                <figure><img src="http://img.ocean2you.co.kr/renew/package/fishingmap_daejin.jpg" alt="대진항 낚시포인트"></figure>
                            </li>
                        </ul>
					</div>

					<a href="http://ocean2you.co.kr/view/" class="rv-a"><span class="s0">사전 예약하기</span><img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt"></a>
				</section>
			    <!--//END : 190319 낚시도구 대여 추가 -->
				
			</div>
		
		</div>
		
		<!-- 180425 하단 탭 추가 -->
		<!-- 180713 메뉴 추가 및 태그 수정 -->
        <!-- 180723 메뉴 추가 및 클래스 추가 -->
		<div class="pkg-b-tab-box">
            <!-- 190226 하단메뉴 변경 -->
            <ul class="pkg-b-tab clr" id="pkg-b-tab">
                <li class="nth-1"><a href="javascript:;" class="line-two">오션투유리조트 <span></span>연회장</a></li>
                <li class="nth-2"><a href="javascript:;" class="line-two">오션투유리조트 <span></span>노래방</a></li>
                <li class="nth-3"><a href="javascript:;">전동바이크 대여</a></li>
                <li class="nth-4 no-tab"><a href="javascript:;" class="line-two">라바짜 <span></span>속초설악비치점</a></li>
                <li class="nth-5 no-tab"><a href="javascript:;">GS편의점 입점</a></li>
                <!-- 190319 낚시도구 대여 추가  -->
                <li class="nth-6"><a href="javascript:;">낚시도구 대여</a></li>
            </ul>
        </div>
		
		<!--171020 다양한 패키지 상품-->
		<div class="vari-wrap" id="vari-wrap">
			<div class="container">
                <h3>오션투유 리조트에서만 경험할 수 있는 즐거움을 느껴보세요!</h3>
                <ul class="ul1 clr packtab">
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>조식뷔페 다연</h4>
                            <p class="p1">특급호텔 30년 근무 경력의 조리장들이 선사하는 품질높은 아메리칸뷔페</p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_01.jpg" alt="조식뷔페 다연">
                        </a>
                    </li> 
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>바베큐장</h4>
                            <p class="p1">해안선을 따라 쏟아지는<br>별빛을 바라보며 즐기는 <span class="xs-block">바베큐파티</span></p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_02.jpg" alt="바베큐장">
                        </a>
                    </li>
                    <li></li>
                    <li></li>
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>전동바이크</h4>
                            <p class="p1">탁 트인 해안도로를 따라 달릴때 보이고 들리는 속초만의 아름다운 풍경</p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_03.jpg" alt="전동바이크">
                        </a>
                    </li>
                    <!-- 동절기 이후 다시 쓸 가능성 있음 -->
                    <!-- <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>조개잡기</h4>
                            <p class="p1">에메랄드빛 삼포해변에서 즐기는 신나는 조개잡기 체험</p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_04.jpg" alt="조개잡기">
                        </a>
                    </li> -->
                    <li>
                        <a href="javascript:;">
                            <span class="i-scut">바로<br>가기</span>
                            <h4>룸서비스</h4>
                            <p class="p1">특급 호텔 30년 경력의 셰프가 선사하는 격이 다른 <span class="xs-block">룸서비스</span></p>
                            <img class="variImg" src="http://img.ocean2you.co.kr/renew/package/pkg_05.jpg" alt="룸서비스">
                        </a>
                    </li>
                </ul>
            </div>
		</div>
		
		<!--171122 룸서비스로 변경-->
		<aside class="rWing" id="rWing" style="position: fixed; top: 256px;">
            <div class="q-menu">
                <ul class="packtab">
                    <li class="on"><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_01.png" alt="조식"><span class="s-txt">조식뷔페 다연<br>바로보기</span></a></li>
                    <li><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_02.png" alt="BBQ"><span class="s-txt">바베큐장<br>바로보기</span></a></li>
                    <li></li>
                    <li></li>
                    <li class=""><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_03.png" alt="전동바이크"><span class="s-txt">전동바이크<br>바로보기</span></a></li>
                    <!-- 동절기 이후 다시 쓸 가능성 있음 -->
                    <!-- <li><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_04.png" alt="조개잡기"><span class="s-txt">조개잡기<br>바로보기</span></a></li> -->
                    <li class=""><a href="javascript:;"><img src="http://img.ocean2you.co.kr/renew/i_quick_05.png" alt="룸서비스"><span class="s-txt">룸서비스<br>바로보기</span></a></li>
                </ul>
                <a class="a-top" href="#">TOP<span class="s-i">▲</span></a>
            </div>
        </aside>
        
<script type="text/javascript">
$(function() {
    $("#pkg-tab > li").removeClass("on");		
		
    var num_id = "1";

    $(".nth-"+num_id).addClass("on");		
    $(".pkg-"+num_id).addClass("on");	

    $('html, body').animate({scrollTop : $("#package_top").offset().top}, 400);
    
	$(window).scroll(function() {
		var scrollTop = $(window).scrollTop();
		var f_scr = $('footer').offset().top - 850;
		
		if(scrollTop > 100) {																			
			$("#right_banner").css({"position":"fixed", "top" : "180px"});
		} 
		if(scrollTop > f_scr) {
			$("#right_banner").css({"position":"fixed", "top" : "-180px"});
		}
		if(scrollTop < 100) {																	
			$("#right_banner").css({"position":"absolute", "top":"auto"});
		}
	});
});
</script>

		<footer class="footer">
			<div class="container">
					<ul class="f_menu">
						<!--171218 레이어팝업노출-->
						<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show(); $('body').css('overflow', 'hidden');">이용약관</a></li>
						<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show(); $('body').css('overflow', 'hidden');">개인정보처리방침</a></li>
					</ul>
								<div class="flt-1 clr">
					<img class="f-logo" src="http://img.ocean2you.co.kr/renew/f_logo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 on">
							<!--180528 사업자명 변경-->
							(주)이스턴월드<br>
							주소 : 강원 고성군 죽왕면 삼포해변길 9<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호						</p>
					</address>
					<!--171127 예약문의 변경-->
					<div class="cf-box">
						<p class="p-0">&lt;고객센터 안내&gt;</p>
						<div class="cf-in">
							<div class="callFor cf0">
								<span class="f-bd">고객센터 안내</span>
								문의에 따라 해당 고객센터로<br>
								전화주시면,문의사항을<br>
								해결해 드리겠습니다.
							</div>
														<a class="callFor cf1">
								<span class="s1">예약문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">(</span>확정, 변경, 취소<span class="xs-hidden">)</span><span class="xs-block"></span>/이벤트 문의</span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 1666-1243</span>
								<!--<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>-->
								<span class="s1-2">주중 09:30 ~ 25:00<br>주말 09:30 ~ 24:00</span>
							</a>
							<a class="callFor cf2">
								<span class="s1">프론트</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">(</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">)</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 033-631-3811</span>
								<span class="s1-2">주중/주말 06시 ~ 02시</span>
							</a>
							<a class="callFor cf3">
								<span class="s1">단체문의</span>
								<span class="mg-"></span>
								<span class="s1-2"><span class="xs-hidden">(</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">)</span></span>
								<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-9094-0396</span>
								<!-- <span class="s1-2">주중/주말 24시간 상담가능</span> -->
								<span class="s4"><img class="i-mail" src="http://img.ocean2you.co.kr/renew/group/icon_mail.jpg" alt="메일"> help@ocean2you.co.kr</span>
							</a>
						</div>
					</div>
					
					
				</div>
				<div class="clr"></div>
				<div class="flt-1 clr">
					<img class="f-gcLogo" src="http://img.ocean2you.co.kr/renew/f_gcLogo.png" alt="오션투유리조트">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1 mt on">
							(주)바로네트웍스<br>
							주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
							사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
							여행업등록번호 : 제2015-02호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
						</p>
						<!--180528 텍스트 수정-->
						* 바로네트웍스는 오션투유리조트의 공식 온라인 총판으로서 온라인 예약 및 결제를 대행합니다.
						<br><br>
						<p class="nth-2">
							Copyright 2016  OCEAN2YOU CONE. ALL RIGHTS RESERVED
						</p>

					</address>
				</div>
			</div>
		</footer>
		
		<a href="javascript:;" id="goTop"><img src="http://img.ocean2you.co.kr/renew/goTop.jpg" alt="위로"></a>
	</div>
	
	
</body>
</html>