@charset 'utf-8';

body {font-family: "Nanum Gothic", sans-serif; color: #333;}
.text-hide {position: absolute; width: 0; height: 0; font: 0/0 arial, sans-serif; text-indent: -9999px;}
.fixed {position: fixed; width: 100%; left: 0;}

.landing-wrapper {position: relative; max-width: 640px; margin: 0 auto;}
.landing-header {}
.landing-contents {}
.landing-footer {}

/* 오션투유 룸서비스 */
.landing-wrapper.roomservice {}
.roomservice .landing-footer,
.roomservice .landing-footer .link-call {height: 72px;}
.roomservice .landing-footer .link-call {display: block; bottom: 0; background: #004579; text-align: center;}
.roomservice .landing-footer .link-call > img {width: 320px; margin: 0 auto;}